In [141]:
import pandas as pd

In [142]:
df = pd.read_csv('ulus.csv', sep=';')
df.head()

,Улус,Администр. центр,"Площадь, тыс.км2","Численность населения (2002 г.), чел",Расст до Якт наземным,Расст до Якт водным,Расст до Якт воздушным,городов респ,городов улусного,поселков,сел,наслегов
0,Абыйский,п. Белая Гора,"69,4",4750.0,1950,3243,1148,-,-,1,6.0,5.0
1,Алданский,г. Алдан,"156,8",49346.0,534,-,470,-,2,4,13.0,3.0
2,Аллаиховский,п. Чокурдах,"107,3",3421.0,2700,2830,1290,-,-,1,6.0,5.0
3,Амгинский,с. Амга,"29,4",17251.0,201,1036,200,-,-,-,21.0,14.0
4,Анабарский,с. Саскылах,"55,6",4024.0,2621,2835,1285,-,-,-,3.0,3.0

In [78]:
df['area'] = df['area'].apply(replace_comma)

In [82]:
df['area'] = df['area'].astype(float)

In [83]:
df['density'] = df['Численность населения\xa0(2002\xa0 г.), чел']/(1000*df['area'])

In [84]:
df['Улус'][df['density'].idxmin()]

'Оленекский эвенкийский национальный'

In [143]:
df = df.drop(24)

In [144]:
df = df.drop(35)

In [148]:
df['nazvoz'] = df['Расст до Якт наземным']/df['Расст до Якт воздушным']

In [146]:
df['Расст до Якт наземным'] = df['Расст до Якт наземным'].astype(int)

In [147]:
df['Расст до Якт воздушным'] = df['Расст до Якт воздушным'].astype(int)

In [149]:
df['Улус'][df['nazvoz'].idxmax()]

'Аллаиховский'